alias ..='cd ..'
alias ...='cd ../../'
alias ....='cd ../../..'

alias msf='msfconsole -q'
alias os='openstack'
alias fuck='$(thefuck $(fc -ln -1))'
alias hgrep='history | grep $1'
alias rm='rm -i'
alias cp='cp -i'
alias mv='mv -i'
alias lm='ls -latr'
alias ll='ls -l --color=auto'
alias la='ls -A --color=auto'
alias l='ls -CF --color=auto'
alias vi='vim'
alias t='tree -L 1 -C -h'
alias week='date +%V'
alias p="sudo pacman"
alias pu="sudo pacman -Syu"
alias pc="sudo pacman -Scc"
alias wget='wget --no-check-certificate'
alias scp='scp -oStrictHostKeyChecking=no'
alias ssh='ssh -oStrictHostKeyChecking=no'
alias hosts='sudo vim /etc/hosts'
alias open='/usr/bin/chromium-browser "$@"'

alias dps='docker ps'
alias dpa="docker ps -a"
alias di="docker images"
alias dip="docker inspect --format '{{ .NetworkSettings.IPAddress }}'"
alias dkd="docker run -d -P"
alias dki="docker run -i -t -P"
alias dex="docker exec -i -t"
alias dstop='docker stop $(docker ps -a -q)'
alias drm='docker rm $(docker ps -a -q)'
alias dri='docker rmi $(docker images -q)'
alias drmf='docker stop $(docker ps -a -q) && docker rm $(docker ps -a -q)'
alias dbu='docker build -t=$1 .'
alias dalias='alias|grep docker'

alias dpid='docker inspect "$1"|grep Pid'
alias nsent='nsenter -m -u -n -p -i -t "$@"'

alias ga='git add'
alias gp='git push'
alias gl='git log'
alias gs='git status'
alias gd='git diff'
alias gm='git commit -m'
alias gma='git commit -am'
alias gb='git branch'
alias gc='git checkout'
alias gra='git remote add'
alias grr='git remote rm'
alias gpu='git pull'
alias gcl='git clone'

if [ -x /usr/bin/dircolors ]; then
  test -r ~/.dircolors && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"
  alias ls='ls -hF --color=auto'
  alias dir='ls --color=auto --format=vertical'
  alias vdir='ls --color=auto --format=long'

  alias grep='grep --color=auto'
  alias fgrep='fgrep --color=auto'
  alias egrep='egrep --color=auto'
fi
