unset MAILCHECK
export GOPATH=$HOME/go
export GOBIN=$HOME/bin
export NOVACLIENT_DEBUG=1
export KEYSTONECLIENT_DEBUG=1
export OS_USERNAME=
export OS_PASSWORD=
export OS_TENANT_NAME=
export OS_AUTH_URL=
export NOVA_KEY_DIR=/home/ekoz/
export EC2_ACCESS_KEY=
export EC2_SECRET_KEY=
export EC2_URL=
export EC2_USER_ID=42 # nova does not use user id, but bundling requires it
export EC2_PRIVATE_KEY=${NOVA_KEY_DIR}/pk.pem
export EC2_CERT=${NOVA_KEY_DIR}/cert.pem
export NOVA_CERT=${NOVA_KEY_DIR}/cacert.pem
export EUCALYPTUS_CERT=${NOVA_CERT} # euca-bundle-image seems to require this set
export Automoc4_DIR=/usr/lib/automoc4
export LD_LIBRARY_PATH=/opt/pt/lib/:$LD_LIBRARY_PATH
export SVN_SSH="ssh -l ekoz"
export YR_LOGIN="root"
export PYTHONSTARTUP=~/.pythonrc
export HISTSIZE=1000000
export HISTCONTROL=ignoredups
export HISTTIMEFORMAT="%t%d.%m.%y %H:%M:%S%t"
export PAGER="less"
export EDITOR='vim'
export LESS_TERMCAP_md="${yellow}"
export MANPAGER='less -X'