UserKnownHostsFile /dev/null
StrictHostKeyChecking no
LogLevel error
GSSAPIAuthentication no
CompressionLevel 9
Compression yes

host *
   controlmaster auto
   controlpath /tmp/ssh-%r@%h:%p
   User root

Host kali
    Hostname 192.168.56.101
    Port 22
    User root

Host ubuntu
    Hostname 192.168.56.102
    Port 22
    User root

# tunneling
#Host <space-separated-list-of-hostnames>
#  ProxyCommand	ssh <proxy-hostname> nc %h %p
#  User <user>
#  IdentityFile ~/.ssh/<keyfile>

# specific port usage
#Host <space-separated-list-of-hostnames>
#  User <user>
#  Port <port>
#  IdentityFile ~/.ssh/<keyfile>
